/.idea
.DS_Store
.env
*.pdf
/__pycache__
*.txt
.embed_cache/
retrieval/.embed_cache/
heading_extraction/__init__.py
index_dir/
*.pyc

# Retrieval artifacts
retrieval/sample_papers.jsonl
retrieval/index_dir/

frontend/package-lock.json
node_modules/
dist/
.env.local
